// GOOGLE FONTS
@import url('https://fonts.googleapis.com/css2?family=Newsreader:opsz@6..72&display=swap');

* {
    font-family: 'Newsreader', serif !important;
}
nav {
    font-size: medium;
}

.bookmark-star {
    font-size: x-large;
}

input:focus::placeholder {
    color: transparent;
}

button {
    transition: 0.2s ease-out;
}

button:hover {
    opacity: 0.7;
}

.news-card a {
    transition: 0.2s ease-out;
}

.news-card a:hover {
    opacity: 0.7;
}

.create-account {
    transition: 0.2s ease-out;
}

.create-account:hover {
    opacity: 0.7;
}

.bs-icon {
    outline: none;
}

.bs-icon.bookmark {
    transition: 0.2s ease-out;
    color: rgb(30, 143, 255);
}

.bs-icon.bookmark:hover {
    opacity: 0.5;
}

.bs-icon.bookmarked {
    color: #4D4D4D;
}

.bs-icon.rm-bookmark {
    transition: 0.2s ease-out;
    color: rgb(255, 30, 30);
    font-size: 2.3rem;
}

.bs-icon.rm-bookmark:hover {
    opacity: 0.5;
}

// MEDIA QUERIES (!important to override inline styling)
@media screen and (max-width: 768px) {
    nav {
        flex-direction: column;
        padding: 0 !important;
    }

    ul.nav-btns {
        padding: 0 !important;
    }
}

@media screen and (max-width: 618px) {
    nav {
        justify-content: center !important;
    }

    nav li {
        margin: 1.5rem !important;
    }

    #homepage-grid {
        padding: 0 !important;
        grid-template-columns: 1fr !important;
    }

    #profile-heading {
        flex-direction: column !important;
        justify-content: center !important;
    }

    #profile-heading h3 {
        margin-top: 0.5rem !important;
        margin-bottom: 1rem !important;
    }

    #profile-grid {
        padding: 0 !important;
        grid-template-columns: 1fr !important;
    }
}

@media screen and (max-width: 425px) {
    ul.nav-btns {
        margin: 0 !important;
    }

    #search-form {
        width: 50% !important;
    }
}