// GOOGLE FONTS
@import url('https://fonts.googleapis.com/css2?family=Newsreader:opsz@6..72&display=swap');

* {
    font-family: 'Newsreader', serif !important;
}

.bookmark-star {
    font-size: x-large;
}

input:focus::placeholder {
    color: transparent;
}

button {
    transition: 0.2s ease-out;
}

button:hover {
    opacity: 0.7;
}

.news-card a {
    transition: 0.2s ease-out;
}

.news-card a:hover {
    opacity: 0.7;
}

.create-account {
    transition: 0.2s ease-out;
}

.create-account:hover {
    opacity: 0.7;
}